<footer>
    <div class="logo">
        <h2>Gladis Anoh</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, natus</p>
    </div>
    <div class="nav">
        <h2>Liens</h2>
        <ul>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Podcasts</a></li>
            <li>Boutique
                <div class="">
                    <a href="#">Livres</a>
                    <a href="#">Formations</a>
                </div>
            </li>
            <li><a href="#">A propos</a></li>
        </ul>
    </div>
    <div class="communaute">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="auteur">Kouame Antonio</div>
    <div class="copie">
        &copy; Gladis Anoh 2022
    </div>
</footer>