<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('user.static',filename='Css/StyleFormation.css')}}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleNav.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleFooter.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        {% include 'barnav.html' %}
        <img src="" alt="image_couverture">
        <div>
            <h1>
                Une nouvelle approche de la formation pour les professionnels de la relation
            </h1>
            <a class="lien_header" href="#">ESSAYER LES SESSOINS AVEC UN ESSAI GRATUIT DE 15 JOURS</a>
        </div>
    </header>
    <div class="presention">
        <p>Sessions est un salon en ligne hébergé par Esther Perel. Conçu pour réunir des thérapeutes, des coachs, des éducateurs et d'autres passionnés d'apprendre, Sessions apporte une approche multidisciplinaire au domaine de l'intelligence relationnelle.</p>
        <div class="video_presention"></div>
    </div>
    <div class="plus_info">
        <h2>Rejoignez une communauté de formation qui vous laissera vous sentir enhardi et excité dans votre pratique.</h2>
        <div class="section_image">
            <div class="image">
                <img src="" alt="Cours">
            </div>
            <div class="text">
                <p>Les approches de formation des cliniciens et des entraîneurs sont souvent cloisonnées et dépendent fortement d'approches dogmatiques à taille unique.</p>
                <p class="special">Les sessions peuvent vous aider à développer la boîte à outils diversifiée dont vous avez besoin pour aider les autres à relever les défis des relations modernes.</p>
                <p>En tant que membre de Sessions, vous briserez ces murs en vous exposant à un large éventail d'approches qui vous invitent à aborder les défis des clients avec curiosité et confiance. </p>
                <p>Chaque mois, Esther vous apportera des entretiens de formation avec des experts dans le domaine et un suivi Q + A / analyse de cas. Nos invités vous fournissent également des ressources utiles pour élargir votre approche.</p>
                <a href="#">REJOIGNER LA SALLE EN LIGNE DES SESSIONS</a>
            </div>
        </div>
    </div>
    <div class="banier">
        <h2>Le saviez-vous?</h2>
        <p>Nos archives complètes de plus de deux ans d'interviews mensuelles en streaming et d'analyses Q+A/Case sont disponibles pour toute personne qui devient membre.</p>
        <p>Jusqu'à 24 crédits CE sont disponibles par an sur les sessions pour les cliniciens aux États-Unis. Moyennant un petit supplément, vous pouvez obtenir des crédits pour votre formation auprès de notre partenaire R. Cassidy Seminars</p>
        <div></div>
    </div>
    <div class="description">
        <h2>CHAQUE MOIS EN SESSIONS</h2>
        <p>Chaque mois, vous pouvez vous attendre à ce que les événements suivants se produisent sur les sessions.</p>
        <div class="illustration">
            <div class="image"><img src="" alt="etape1"></div>
            <div class="text">
                <h3>Entretien mensuel</h3>
                <p>Au début de chaque mois, nous mettrons en ligne une interview d'une heure entre notre invité et Esther. Ces entretiens couvrent des questions pressantes qui ne sont pas posées dans les forums typiques sur ce qui sous-tend la modalité ou l'approche de notre interlocuteur.</p>
            </div>
        </div>
        <div class="illustration">
            <div class="image"><img src="" alt="etape2"></div>
            <div class="text">
                <h3>Q+R en direct</h3>
                <p>Une fois que la communauté a eu le temps d'écouter l'interview, nous invitons les soumissions de questions et de cas. Ensuite, en utilisant Zoom, Esther et l'invité répondent à vos questions dans un format de webinaire en direct qui est également disponible dans nos archives.</p>
            </div>
        </div>
        <div class="illustration">
            <div class="image"><img src="" alt="etape3"></div>
            <div class="text">
                <h3>Discussions sur le forum communautaire</h3>
                <p>Notre forum Sessions est destiné à fournir un espace de réflexion, de communication et de construction communautaire. Les membres peuvent démarrer des conversations basées sur les vidéos les plus récentes, interagir avec Esther et les invités et télécharger leurs propres ressources. </p>
            </div>
        </div>
        <div class="illustration">
            <div class="image"><img src="" alt="etape4"></div>
            <div class="text">
                <h3>Ressources invitées et contenu supplémentaire</h3>
                <p>Enfin, chaque mois, nos invités fournissent à la communauté des ressources qu'ils peuvent utiliser pour faire avancer leur pratique. Il peut s'agir de listes de lecture, d'exercices, de liens vers des ressources vidéo, etc. De plus, Esther organise le contenu de son propre travail et des invités pour tenir la communauté informée de ce qui se passe. </p>
            </div>
        </div>
    </div>
    <div class="offre">
        <h2>COMMENCEZ VOTRE ESSAI GRATUIT AUJOURD'HUI</h2>
        <p>Les abonnements aux plans mensuels et annuels incluent tous deux 15 jours gratuits. Utilisez-le pour parcourir la plateforme, consulter nos archives et voir si Sessions vous convient.</p>
        <a href="#">CHOISIR UN FORFAIT</a>
    </div>
    <div class="avis">
        <h2>Plus de 1500 cliniciens, entraîneurs, éducateurs et autres ont utilisé les sessions pour améliorer leurs pratiques</h2>
        <div class="contener">
            <div class="contenu">
                <p>"Les sessions offrent un format très attractif pour être exposé et apprendre d'experts qui peuvent défier et approfondir nos compétences en tant que cliniciens... Les entretiens m'ont donné envie d'en savoir plus sur les personnes interrogées et participer aux questions-réponses était un engagement que je ne ferais pas. Je suis toujours ravi d'explorer les nouveaux coffres au trésor mensuels de ressources théoriques et pratiques mis à notre disposition. Je suis reconnaissant d'avoir une communauté d'apprentissage de grande envergure comme les sessions vers lesquelles se tourner chaque mois.</p>
                <h5>Francine Godet</h5>
                <p>Elève</p>
            </div>
        </div>
    </div>
    <div class="forfait">
        <h2>Plans d'adhésion aux sessions</h2>
        <p>Les deux plans ci-dessous offrent un essai gratuit de 15 jours afin que vous puissiez tester si Sessions vous convient ou non.</p>
        <p>Nous proposons également des plans pour les étudiants et en fonction des besoins. Veuillez contacter support.sessions@estherperel.com pour en savoir plus.</p>
        <div class="tarif">
            <div class="item">
                <div class="text">
                    <h3>LA NORME</h3>
                    <h2>$40</h2>
                    <p>PAR MOIS</p>
                    <p>Entretiens de formation mensuels</p>
                    <p>Revue mensuelle de questions/réponses en direct d'une heure</p>
                    <p>Forum communautaire des sessions</p>
                    <p>Notre bibliothèque complète de plus de 25 entretiens de formation archivés </p>
                    <p>Crédits CE*</p>
                    <p>Sessions gratuites Billets de diffusion en direct et rabais sur les billets en personne</p>
                    <p>*Les crédits CE sont disponibles moyennant des frais supplémentaires auprès de notre fournisseur R. Cassidy Seminars</p>
                    <a href="#">COMMENCER MON ESSAI GRATUIT</a>
                </div>
            </div>
            <div class="item">
                <div class="haut">LE PLUS POPULAIRE</div>
                <div class="text">
                    <h3>LA NORME</h3>
                    <h2>$40</h2>
                    <p>PAR MOIS</p>
                    <p>Entretiens de formation mensuels</p>
                    <p>Revue mensuelle de questions/réponses en direct d'une heure</p>
                    <p>Forum communautaire des sessions</p>
                    <p>Notre bibliothèque complète de plus de 25 entretiens de formation archivés </p>
                    <p>Crédits CE*</p>
                    <p>Sessions gratuites Billets de diffusion en direct et rabais sur les billets en personne</p>
                    <p>*Les crédits CE sont disponibles moyennant des frais supplémentaires auprès de notre fournisseur R. Cassidy Seminars</p>
                    <a href="#">COMMENCER MON ESSAI GRATUIT</a>
                </div>
            </div>
            <div class="item">
                <div class="text">
                    <h3>LA NORME</h3>
                    <h2>$40</h2>
                    <p>PAR MOIS</p>
                    <p>Entretiens de formation mensuels</p>
                    <p>Revue mensuelle de questions/réponses en direct d'une heure</p>
                    <p>Forum communautaire des sessions</p>
                    <p>Notre bibliothèque complète de plus de 25 entretiens de formation archivés </p>
                    <p>Crédits CE*</p>
                    <p>Sessions gratuites Billets de diffusion en direct et rabais sur les billets en personne</p>
                    <p>*Les crédits CE sont disponibles moyennant des frais supplémentaires auprès de notre fournisseur R. Cassidy Seminars</p>
                    <a href="#">COMMENCER MON ESSAI GRATUIT</a>
                </div>
            </div>
        </div>
    </div>
    <div class="preocupation">
        <h2>Questions fréquemment posées</h2>
        <div class="question">
            <h4>Qu'est-ce que Session</h4>
            <p>Sessions est une communauté de formation en ligne pour les thérapeutes, les coachs, les éducateurs et autres. Nous publions du contenu en streaming tous les mois, de manière continue sous la forme d'interviews d'experts, de webinaires, de ressources, ainsi que dans un forum communautaire et un tableau de commentaires.</p>
        </div>
        <div class="question">
            <h4>Qu'est-ce que Session</h4>
            <p>Sessions est une communauté de formation en ligne pour les thérapeutes, les coachs, les éducateurs et autres. Nous publions du contenu en streaming tous les mois, de manière continue sous la forme d'interviews d'experts, de webinaires, de ressources, ainsi que dans un forum communautaire et un tableau de commentaires.</p>
        </div>
        <div class="question">
            <h4>Qu'est-ce que Session</h4>
            <p>Sessions est une communauté de formation en ligne pour les thérapeutes, les coachs, les éducateurs et autres. Nous publions du contenu en streaming tous les mois, de manière continue sous la forme d'interviews d'experts, de webinaires, de ressources, ainsi que dans un forum communautaire et un tableau de commentaires.</p>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('user.static',filename='JS/ScriptNav.js') }}"></script>
</body>
</html>