<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleNav.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleHome.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleFooter.css') }}">
    <title>Home</title>
</head>
<body>
    <header>
        {% include 'barnav.html' %}
        <div class="text_header">
            <h1>La qualité de nos relations détermine la qualité de nos vies.</h1>
            <p>Sur mon site Web, vous trouverez des ressources et des formations pour vous aider à trouver de la vivacité et de la vitalité dans vos relations.</p>
            <a href="#"><i class="fa-solid fa-arrow-down"></i></a>
        </div>
        <img src="" alt="photo_Gladis">
    </header>
    <section class="articles">
        <h3>Je recherche des ressources</h3>
        <div class="article">
            <div class="info">
                <h2>"L'érotisme n'est pas le sexe en soi, mais les qualités de vitalité, de curiosité et de spontanéité qui nous font nous sentir vivants."</h2>
                <p>Faites défiler vers la droite pour accéder au contenu explorant l'érotisme et la fantaisie ou visitez notre site pour en savoir plus .</p>
                <div class="defile">
                    <p>Vous pouvez trouver des sujets supplémentaires en utilisant la navigation ci-dessus.</p>
                    <div class="btn_defile">
                        <div class="precedant arrow"><i class="fa-solid fa-arrow-left"></i></div>
                        <div class="suivant arrow" ><i class="fa-solid fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="contener_slider">
                <div class="slider">
                    <div class="item">
                        1
                    </div>
                    <div class="item">
                        2
                    </div>
                    <div class="item">
                        3
                    </div>
                    <div class="item">
                        4
                    </div>
                    <div class="item">
                        5
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_defile">
            <div class="precedant arrow"><i class="fa-solid fa-arrow-left"></i></div>
            <div class="suivant arrow" ><i class="fa-solid fa-arrow-right"></i></div>
        </div>
    </section>
    <section class="promotion">
        <div class="info_pub">
            <img src="" alt="image_pub">
            <div class="contenu">
                <h2>Séances avec Gladis Anoh</h2>
                <div></div>
                <p>Vous recherchez un développement professionnel de Gladis? Sessions est la communauté d'apprentissage en ligne de Gladis pour les thérapeutes, les coachs, les éducateurs et autres dans le domaine de la santé mentale.</p>
                <p>Les expériences d'apprentissage les plus riches proviennent de la suppression des silos et de l'atteinte au-delà de notre zone de confort. Découvrez comment rejoindre la communauté Sessions.</p>
                <a href="#" class="btn">VOIR PLUS</a>
            </div>
        </div>
        <img src="" alt="pub_backgrond">
    </section>
    <section class="podcasts">
        <h2>Podcasts</h2>
        <div class="items">
            <div class="item">
                <div>
                    <img src="" alt="image_podcast">
                </div>
                <h3>Par ou commencer</h3>
                <p>Notre série audio originale vous emmène dans l'antichambre des moments intimes.</p>
                <a href="#">Ecouter maintenant</a>
            </div>
            <div class="item">
                <div>
                    <img src="" alt="image_podcast">
                </div>
                <h3>Comment est le travail?</h3>
                <p>La qualité de nos relations détermine la qualité de nos vies, tant à la maison qu'au travail.</p>
                <a href="#">Ecouter maintenant</a>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('user.static',filename='JS/ScriptHome.js') }}"></script>
    <script src="{{ url_for('user.static',filename='JS/ScriptNav.js') }}"></script>
</body>
</html>