<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleLivre.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleNav.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleFooter.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        {% include 'barnav.html' %}
        <img src="" alt="header_image">
        <h1>Livres</h1>
    </header>
    <div class="contener">
        <div class="livre">
            <div class="image">
                <img src="#" alt="image_livre">
            </div>
            <p>Dans The State of Affairs, Esther jette un regard sur les relations modernes à travers le prisme de l'infidélité. Les affaires ont beaucoup à nous apprendre sur le cœur humain. En examinant l'amour illicite sous plusieurs angles, elle vous invite à une exploration honnête du couplage dans toutes ses nombreuses variations.</p>
            <a href="#">Acheté</a>
        </div>
        <div class="livre">
            <div class="image">
                <img src="#" alt="image_livre">
            </div>
            <p>Dans The State of Affairs, Esther jette un regard sur les relations modernes à travers le prisme de l'infidélité. Les affaires ont beaucoup à nous apprendre sur le cœur humain. En examinant l'amour illicite sous plusieurs angles, elle vous invite à une exploration honnête du couplage dans toutes ses nombreuses variations.</p>
            <a href="#">Acheter</a>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('user.static',filename='JS/ScriptNav.js') }}"></script>
</body>
</html>