<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StylePodcast.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleNav.css') }}">
    <link rel="stylesheet" href="{{ url_for('user.static',filename='Css/StyleFooter.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        {% include 'barnav.html' %}
        <img src="" alt="image_header">
        <h1>Podcast</h1>
    </header>
    <div class="contener">
        <div class="livre">
            <div class="image">
                <img src="#" alt="image_livre">
            </div>
            <p>Our original audio series takes you into the antechamber of intimate moments.</p>
            <a href="#">Ecouter</a>
        </div>
        <div class="livre">
            <div class="image">
                <img src="#" alt="image_livre">
            </div>
            <p>The quality of our relationships determines the quality of our lives - both at home and at work.</p>
            <a href="#">Ecouter</a>
        </div>
    </div>
    <section>
        <div class="serie">
            <div class="titre">EXPLORE EPISODES</div>
            <div class="themes">
                <div class="item">COMMENT EST LE TRAVAIL ?</div>
                <div class="item">PAR OU DEVRIONS-NOUS COMMENCER ?</div>
                </div>   
        </div>
        <a href="#" class="episode">
            <h2>S1 EPISODE 1</h2>
            <div class="description">
                <h3>Vous voulez que je surveille les enfants pendant que vous sortez avec d'autres hommes&nbsp;?, Où sont-ils maintenant&nbsp;?</h3>
                <p>
                    Quand Esther les a rencontrés pour la première fois il y a deux ans, ils avaient récemment ouvert le mariage. 
                    À ce moment-là seulement, elle s'était aventurée, et après une vie à sentir que sa sexualité n'était pas la sienne, elle a ressenti un réveil. 
                    Cette fois-ci, ils explorent tous les deux ailleurs, mais le sujet de leur non-monogamie prend le pas sur d'autres histoires fondamentales au sein de leur mariage.
                </p>
            </div>
        </a>
        <a href="#" class="episode">
            <h2>S1 EPISODE 1</h2>
            <div class="description">
                <h3>Vous voulez que je surveille les enfants pendant que vous sortez avec d'autres hommes&nbsp;?, Où sont-ils maintenant&nbsp;?</h3>
                <p>
                    Quand Esther les a rencontrés pour la première fois il y a deux ans, ils avaient récemment ouvert le mariage. 
                    À ce moment-là seulement, elle s'était aventurée, et après une vie à sentir que sa sexualité n'était pas la sienne, elle a ressenti un réveil. 
                    Cette fois-ci, ils explorent tous les deux ailleurs, mais le sujet de leur non-monogamie prend le pas sur d'autres histoires fondamentales au sein de leur mariage.
                </p>
            </div>
        </a>
        <a href="#" class="episode">
            <h2>S1 EPISODE 1</h2>
            <div class="description">
                <h3>Vous voulez que je surveille les enfants pendant que vous sortez avec d'autres hommes&nbsp;?, Où sont-ils maintenant&nbsp;?</h3>
                <p>
                    Quand Esther les a rencontrés pour la première fois il y a deux ans, ils avaient récemment ouvert le mariage. 
                    À ce moment-là seulement, elle s'était aventurée, et après une vie à sentir que sa sexualité n'était pas la sienne, elle a ressenti un réveil. 
                    Cette fois-ci, ils explorent tous les deux ailleurs, mais le sujet de leur non-monogamie prend le pas sur d'autres histoires fondamentales au sein de leur mariage.
                </p>
            </div>
        </a>
        <a href="#" class="episode">
            <h2>S1 EPISODE 1</h2>
            <div class="description">
                <h3>Vous voulez que je surveille les enfants pendant que vous sortez avec d'autres hommes&nbsp;?, Où sont-ils maintenant&nbsp;?</h3>
                <p>
                    Quand Esther les a rencontrés pour la première fois il y a deux ans, ils avaient récemment ouvert le mariage. 
                    À ce moment-là seulement, elle s'était aventurée, et après une vie à sentir que sa sexualité n'était pas la sienne, elle a ressenti un réveil. 
                    Cette fois-ci, ils explorent tous les deux ailleurs, mais le sujet de leur non-monogamie prend le pas sur d'autres histoires fondamentales au sein de leur mariage.
                </p>
            </div>
        </a>
        <a href="#" class="episode">
            <h2>S1 EPISODE 1</h2>
            <div class="description">
                <h3>Vous voulez que je surveille les enfants pendant que vous sortez avec d'autres hommes&nbsp;?, Où sont-ils maintenant&nbsp;?</h3>
                <p>
                    Quand Esther les a rencontrés pour la première fois il y a deux ans, ils avaient récemment ouvert le mariage. 
                    À ce moment-là seulement, elle s'était aventurée, et après une vie à sentir que sa sexualité n'était pas la sienne, elle a ressenti un réveil. 
                    Cette fois-ci, ils explorent tous les deux ailleurs, mais le sujet de leur non-monogamie prend le pas sur d'autres histoires fondamentales au sein de leur mariage.
                </p>
            </div>
        </a>
    </section>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('user.static',filename='JS/ScriptNav.js') }}"></script>
</body>
</html>