<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contener">
        <form action="#">
            <h1>Bon Retoure</h1>
            <input type="text">
            <input type="password">
            <input type="submit" value="CONNECTION">
        </form>
        <div class="contener_image">
            
        </div>
    </div>
</body>
</html>