footer{
    padding: 50px 3%;
    background-color:rgb(88, 88, 88) ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}
footer .logo h2{
    font-size: 3rem;
    white-space: nowrap;
    font-weight: normal;
    font-family: serif;
    padding-bottom: 2rem;
    border-bottom: solid white 2px;
}
footer .logo p{
    font-size: 1.1rem;
}
footer .nav{
    display: flex;
    flex-direction: column;
    padding-left: 30%;
}
footer .nav ul{
    list-style: none;
    margin-left: 15px;
    font-size: 1.3rem;
}
footer .nav ul li{
    margin-top: 10px;
}
footer .nav ul li > div{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.2rem;
}
footer .nav h2{
    font-size: 1.5rem;
    font-weight: normal;
    color: darkgrey;
}
footer .nav a{
    color: black;
    text-decoration: none;
}
footer .communaute{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .communaute a{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: black;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    border-radius: 50%;
}
.copie{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.auteur{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: end;
}
@media screen and (max-width: 770px){
    footer{
        display: flex;
        flex-direction: column;
        padding: 50px 10%
    }
    footer .logo h2{
        font-size: 2.5rem;
    }
    footer .logo p{
        width: 60%;
        margin-bottom: 2rem;
    }
    footer .nav{
        margin-bottom: 2rem;
        padding: 0 10%;
    }
    .auteur{
        margin-top: 1rem;
        text-align: center;
    }
}