*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins ,sans-serif;
}
header{
    min-height: 100vh;
    position: relative;
    margin-bottom: 120px;
}
.contener{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    height: 100%;
}
.contener .annonce{
    width: 50%;
    text-align: center;
}
.text{
    padding: 0 102px;
    display: flex;
    flex-direction: column;
}
.text p{
    margin-bottom: 40px;
    font-size: 1.2rem;
}
.text h3{
    font-size: 2rem;
    margin-bottom: 40px;
}

@media screen and (max-width: 770px) {
    .contener{
        flex-direction: column;
    }
    .contener .annonce{
        width: 70%;
    }
}
@media screen and (max-width: 750px){
    .text{
        padding: 0 40px;
    }
}