header nav{
    z-index: 10;
    position: relative;
    margin: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    border-bottom: solid black 1px;
}
nav .burger{
    display: none;
}
.responsive_menu{
    padding: 10px 6%;
    position:fixed;
    z-index: 10;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    transition: .5s;
}
.responsive_menu ul{
    margin-top: 145px;
    width: 100%;
    list-style: none;
}
.responsive_menu ul li{
    width: 100%;
    background-color: aliceblue;
    margin-top: 1rem;
    padding: 15px 0;
}
.responsive_menu ul a{
    text-decoration: none;
    color: black;
}
.communaute{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.petit_menu{
    margin-left: 3rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.communaute a{
    color: black;
    font-size: 1.8rem;
    margin: 0 .8rem;
}
.responsive_menu ul .item{
    font-size: 3rem;
}
nav .lien{
    display: flex;
    list-style: none;
}
nav .logo{
    font-size: 2.5rem;
    font-family: serif;
    text-decoration: none;
    color: black;
}
.lien li{
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.lien li:hover .souslien{
    display: block;
} 
.lien li .souslien{
    position: absolute;
    top: -20px;
    display: none;
    left: 0;
    transform: translateY(50%);
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgb(243, 243, 243);
}
li .souslien a{
    display: block;
    padding: 10px 30px;
}
li .souslien a:hover{
    background-color: rgb(160, 160, 160);
}
.lien li a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 980px){
    nav .lien{
        display: none;
    }
    nav .burger{
        display: block;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 770px){
    nav .logo{
        font-size: 30px;
    }
}
@media screen and (max-width: 500px){
    header nav{
        padding-top: 40px;
    }
    nav .logo{
        font-size: 1.5rem;
    }
}

